@using Karma.Business.Modules.ShopModule.Queries.BasketListQuery
@model IEnumerable<BasketListItem>

      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
        <li><a asp-action="index" asp-controller="home" class="breadcrumb__link">Əsas</a></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Məhsullar</span></li>
          <li><span class="breadcrumb__link">></span></li>
          <li><span class="breadcrumb__link">Ödənişə keçmək</span></li>
        </ul>
      </section>

      <section class="checkout section--lg">
        <div class="checkout__container container grid">
          <div class="checkout__group">
            <h3 class="section__title">Ödəniş məlumatları</h3>
            <form class="form grid">
              <input type="text" placeholder="Ad" class="form__input" />
              <input type="text" placeholder="Ünvan" class="form__input" />
              <input type="text" placeholder="Şəhər" class="form__input" />
              <input type="text" placeholder="Ölkə" class="form__input" />
              <input type="text" placeholder="Poçt kodu" class="form__input" />
              <input type="text" placeholder="Telefon" class="form__input" />
              <input type="email" placeholder="Email" class="form__input" />
              <h3 class="checkout__title">Əlavə məlumat</h3>
              <textarea
                name=""
                placeholder="Qeyd"
                class="form__input textarea"
              ></textarea>
            </form>
          </div>
          <div class="checkout__group">
            <h3 class="section__title">Məhsul məlumatı</h3>
            <table class="order__table">
              <thead>
                <tr>
                  <th colspan="2">Məhsullar</th>
                  <th>Ümumi</th>
                </tr>
              </thead>

              <tbody>

                   @foreach (var item in Model)
                                {
                                    <tr class="cart_item">
                                        <td class="product-name">
                                <h3 class="table__title">
                                            @item.Name <strong class="product-quantity"> × @Convert.ToInt32(item.Quantity)</strong>
                                                </h3>
                                        </td>
                                        <td class="product-total">
                                <span class="table__price amount">@((item.Price * item.Quantity).ToString("0.00₼"))</span>
                                        </td>
                                    </tr>
                                }
               
            
              
                <tr>
                  <td><span class="order__subtitle">Ümumi</span></td>
                  <td colspan="2">
                   
                            <span class="order__grand-total amount">@Model.Sum(x=>x.Price * x.Quantity).ToString("0.00₼")</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="payment__methods">
              <h3 class="checkout__title payment__title">Ödəniş</h3>
              <div class="payment__option flex">
                <input
                  type="radio"
                  name="radio"
                  id="l1"
                  checked
                  class="payment__input"
                />
                <label for="l1" class="payment__label"
                  >Bank kartı ilə ödəniş</label
                >
                
              </div>
             
              
            </div>
            <button class="btn btn--md">Sifariş verin</button>
          </div>
        </div>
      </section>

      <section class="newsletter section">
        <div class="newsletter__container container grid">
          <h3 class="newsletter__title flex">
            <img
              src="./assets/img/icon-email.svg"
              alt=""
              class="newsletter__icon"
            />
            Yeniliklərdən xəbərdar olmaq üçün abunə olun
          </h3>
          <p class="newsletter__description">
            ...və ilk alış-veriş üçün 10% endirim əldə edin.
          </p>
          <form action="" class="newsletter__form">
            <input
              type="text"
              placeholder="Email daxil edin"
              class="newsletter__input"
            />
            <button type="submit" class="newsletter__btn">Abunə ol</button>
          </form>
        </div>
      </section>
    

