

@using Karma.Business.Modules.AccountModule.Commands.RegisterCommand
@model RegisterRequest



    <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
            <li><a asp-action="index" asp-controller="home" class="breadcrumb__link">Əsas</a></li>
            <li><span class="breadcrumb__link">></span></li>
            <li><span class="breadcrumb__link">Giriş / Qeydiyyat</span></li>
        </ul>
    </section>

    <section class="login-register section--lg">
        <div class="login-register__container container grid">
           
            <div class="register">
                <h3 class="section__title">Hesab yarat</h3>
            <form method="post" id="create_customer" class="form grid">
                <input asp-for="Name"
                           placeholder="İstifadəçi adı"
                           class="form__input" />
                           <input asp-for="Surname"
                           placeholder="İstifadəçi adı"
                           class="form__input" />
                <input asp-for="Email"
                           placeholder="Email"
                           class="form__input" />
                <input asp-for="Password" type="password"
                           placeholder="Şifrə"
                           class="form__input" />
                <input asp-for="ConfirmPassword" type="password"
                           placeholder="Şifrə təkrar"
                           class="form__input" />
                    <div class="form__btn">
                        <button class="btn">Qeydiyyat</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="newsletter section">
        <div class="newsletter__container container grid">
            <h3 class="newsletter__title flex">
                <img src="./assets/img/icon-email.svg"
                     alt=""
                     class="newsletter__icon" />
                Yeniliklərdən xəbərdar olmaq üçün abunə olun
            </h3>
            <p class="newsletter__description">
                ...və ilk alış-veriş üçün 10% endirim əldə edin.
            </p>
            <form action="" class="newsletter__form">
                <input type="text"
                       placeholder="Email daxil edin"
                       class="newsletter__input" />
                <button type="submit" class="newsletter__btn">Abunə ol</button>
            </form>
        </div>
    </section>

