@using Karma.Business.Modules.BlogPostModule.Queries.BlogPostGetAllQuery
@using Karma.Infrastructure.Entites;

@model IPagedResponse<BlogPostGetAllDto>



@foreach (var item in Model)
{

    <section class="details section--lg">
        <div class="details__container container grid">
            <div class="details__group">
                <img src="~/uploads/images/@item.ImagePath"
                 alt=""
                 class="details__img" />

            </div>
            <div class="details__group">
                <a asp-action="Details" asp-route-slug="@item.Slug">
                    <h3 class="product__title">@item.Title</h3>
                </a>

                <p>@item.Body.ClearHtml(300)</p>

                <a asp-action="Details" asp-route-slug="@item.Slug" class="white_bg_btn">Ətraflı Məlumat</a>



            </div>
        </div>
    </section>
}

